# Object files
*.o
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# VS Code trash
.vscode

# Mac OS trash
.DS_Store

# Build folder
build/
libs/
bin/

# Manual folder
man/

# Sublime Text workspace file
*.sublime-workspace
